.navItem {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  color: $white;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $orange;
  }
}
